extends layout

block metas 
    title  Home 
    meta(name="description", content="Description of the page Home")
block content
    main.container
        h1 Home de Express 
        nav  
            ul 
                li 
                    a(href="/contacto") Contacto (.html)
                li 
                    a(href="/git") Contacto (.md)
                li 
                    a(href="/nodejs") Contacto (.md)